@import "_variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: $backgroundGradient;
  font-family: $fontStack;
}

h1 {
  background-color: $primaryColor;
  background-image: $headingGradient;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $fontStack;
}

p,
span {
  font-weight: 600;
  font-size: 1rem;
  color: $whiteColor;
  font-family: $fontStack;
}

.slider__section {
  .slider__content {
    h2 {
      color: $whiteColor;
      font-size: 8rem;
      margin-left: 1rem;
      font-weight: 700;
    }
    img {
      width: auto;
      height: 250px;
    }
  }
}

.about__section {
  .about__content {
    p {
      font-size: 4rem;
    }
  }
}

.advantage__section {
}

.buy__section {
}

.documents__section {
}

.earning__section {
}

.faqs__section {
}

.mobileapp__section {
}

.rewards__section {
}

.staking__section {
  .staking__content {
    .card {
      background: $transparentBackground !important;
      border-radius: 1.2rem;
      border: none;
      img {
        margin-bottom: 1rem;
      }
      .card-text {
        font-size: 1rem;
      }
    }
    h2 {
      font-size: 5rem;
      color: $primaryColor;
      font-weight: 800;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

.todo__section {
}

.tokenomics__section {
}

.footer__section {
  .footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      color: $whiteColor;
      text-decoration: none;
    }
  }
}
