@import "_variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: $backgroundGradient;
  font-family: $fontStack;
}

h1 {
  background-color: $primaryColor;
  background-image: $headingGradient;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $fontStack;
}

p,
span {
  font-weight: 600;
  font-size: 1rem;
  color: $whiteColor;
  font-family: $fontStack;
}

.slider__section {
  .slider__content {
    h2 {
      color: $whiteColor;
      font-size: 8rem;
      margin-left: 1rem;
      font-weight: 700;
    }
    img {
      width: auto;
      height: 250px;
    }
  }
}

.about__section {
  .about__content {
    p {
      font-size: 4rem;
    }
  }
}

.advantage__section {
  .advantage__table {
    background: $transparentBackground;
    border-radius: 1.2rem;
    table {
      color: $whiteColor;
      height: 50vh;
      width: 80vw !important;
      thead {
        tr {
          th {
            font-size: 1.5rem !important;
          }
        }
      }
      tbody {
        tr {
          td {
            &:first-child {
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .advantage__content {
    h2 {
      font-size: 4rem;
      color: $primaryColor;
      font-weight: 800;
    }
  }
}

// .buy__section {
// }

// .documents__section {
// }

.earning__section {
  .earning__content {
    h2 {
      font-size: 4rem;
      color: $primaryColor;
      font-weight: 800;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-top: 1rem;
        p {
          font-size: 1.2rem;
          span {
            color: $primaryColor;
            font-weight: 800;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

// .faqs__section {
// }

// .mobileapp__section {
// }

.rewards__section {
  .rewards__table {
    width: 57vw;
    height: 10vh;
    tr {
      background: $transparentBackground;
      color: $primaryColor;
      font-weight: 700;
      td {
        span {
          color: $whiteColor;
        }
      }
    }
  }
  .rewards__content {
    h2 {
      font-size: 4rem;
      color: $primaryColor;
      font-weight: 800;
    }
  }
}

.staking__section {
  .staking__content {
    .card {
      background: $transparentBackground !important;
      border-radius: 1.2rem;
      border: none;
      img {
        margin-bottom: 1rem;
      }
      .card-text {
        font-size: 1rem;
      }
    }
    h2 {
      font-size: 5rem;
      color: $primaryColor;
      font-weight: 800;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

.todo__section {
  ::-webkit-scrollbar {
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: $transparentBackground;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background: $primaryColor;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $secondaryColor;
  }

  .todo__pill {
    background: $transparentBackground;
    border-radius: 1rem;
  }
  .pills__list {
    width: 70vw;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem;
    height: 70px;
  }
  .todo__content {
    h2 {
      font-size: 5rem;
      color: $primaryColor;
      font-weight: 800;
    }
    h4 {
      font-size: 2.5rem;
      color: $primaryColor;
      font-weight: 700;
    }
  }
}

.tokenomics__section {
  .card {
    background: $transparentBackground;
    text-transform: uppercase;
    img {
      width: 80px !important;
      height: auto;
      margin-bottom: 1rem;
    }
  }
  .tokenomics__content {
    h2 {
      font-size: 5rem;
      color: $primaryColor;
      font-weight: 800;
    }
  }
  table {
    font-size: 1.2rem;
    line-height: 36px;
    tr {
      border: none !important;
      color: $whiteColor;
      td {
        &:last-child {
          color: $primaryColor;
          font-weight: 600;
        }
      }
    }
  }
}

.footer__section {
  .footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      color: $whiteColor;
      text-decoration: none;
    }
  }
}
