@import "_variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: $backgroundGradient;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: $primaryColor;
  background-image: $headingGradient;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.slider__section {
}

.about__section {
}

.advantage__section {
}

.buy__section {
}

.documents__section {
}

.earning__section {
}

.faqs__section {
}

.mobileapp__section {
}

.rewards__section {
}

.staking__section {
}

.todo__section {
}

.tokenomics__section {
}
